@model BoardGameWithCommentsModel

@{
}

<div>
    <form method="post" class="container" asp-controller="Comment" asp-action="Create">
        <div class="form-group">
            <label class="control-label"></label>
            <textarea class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

@section Script{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#comment-form').submit(function(event) {
                event.preventDefault();

                var commentContent = $('#CommentContent').val();
                var boardGameId = $(this).data('board-game-id');

                $.ajax({
                    url: '/Comment/CreateComment',
                    type: 'POST',
                    data: {
                        commentContent: commentContent,
                        boardGameId: boardGameId
                    },
                    success: function(data) {
                        $('#comments-list').html(data);
                        $('#CommentContent').val('');
                    },
                    error: function() {
                        alert('Произошла ошибка при добавлении комментария.');
                    }
                });
            });
        });
    </script>
}

<div class="board-game-info">
    <img class="board-game-img" src="~/images/@Model.BoardGame.ImagePath" />
    <table class="table">
        <tr>
            <td>Id</td>
            <td>@Model.BoardGame.Id</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>@Model.BoardGame.Title</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>@Model.BoardGame.Description</td>
        </tr>
        <tr>
            <td>Genre</td>
            <td>@Model.BoardGame.Genre</td>
        </tr>
        <tr>
            <td>GameTime</td>
            <td>@Model.BoardGame.GameTime</td>
        </tr>
        <tr>
            <td>NumberPlayers</td>
            <td>@Model.BoardGame.NumberPlayers</td>
        </tr>
        <tr>
            <td>ReleaseYear</td>
            <td>@Model.BoardGame.ReleaseYear</td>
        </tr>
    </table>
</div>

<div class="comments-section">
    <h3>Comments</h3>
    @if (Model.Comments.Any())
    {
        <ul class="comments-list">
            @foreach (var comment in Model.Comments)
            {
                <li>
                    <strong>@comment.UserId</strong>: @comment.Content
                    <em>(@comment.CreatedAt.ToShortDateString())</em>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No Comments</p>
    }
</div>