@using GameAppTaskBusiness.DTOs.User
@model UserWithBoardGamesDto

@{
    ViewData["Title"] = "Favourite Board Games";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Image</th>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Genre</th>
            <th>GameTime</th>
            <th>NumberPlayer</th>
            <th>ReleaseYear</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var boardGame in Model.BoardGames)
        {
            <tr>
                <td><img class="board-game-img" src="~/images/@boardGame.ImagePath" /></td>
                <td>@boardGame.Id</td>
                <td>@boardGame.Title</td>
                <td>@boardGame.Description</td>
                <td>@boardGame.Genre</td>
                <td>@boardGame.GameTime</td>
                <td>@boardGame.NumberPlayers</td>
                <td>@boardGame.ReleaseYear</td>
                <td>
                    <a class="btn btn-danger" role="button" asp-area=""
                    asp-controller="User" asp-action="DeleteFromFavourite"
                    asp-route-userId="@Model.User.Id"
                    asp-route-boardGameId="@boardGame.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>