@using GameAppTaskBusiness.DTOs.BoardGame
@model IEnumerable<BoardGameDto>

@{
    ViewData["Title"] = "Favourite Board Games";
}

<h2>@ViewData["Title"]</h2>

<a class="btn btn-primary" role="button" asp-area="" asp-controller="Profile" asp-action="Index">Back</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Image</th>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Genre</th>
            <th>GameTime</th>
            <th>NumberPlayer</th>
            <th>ReleaseYear</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var boardGame in Model)
        {
            <tr>
                <td>@boardGame.ImagePath</td>
                <td>@boardGame.Id</td>
                <td>@boardGame.Title</td>
                <td>@boardGame.Description</td>
                <td>@boardGame.Genre</td>
                <td>@boardGame.GameTime</td>
                <td>@boardGame.NumberPlayers</td>
                <td>@boardGame.ReleaseYear</td>
                <td>
                    <a class="btn btn-danger" role="button" asp-area="" asp-controller="Profile" asp-action="DeleteFromFavourite" asp-route-id="@boardGame.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>